{%- for r in d.rooms -%}
  {%- assign t = r.presentations | first -%}
  {%- include partials/get_presentation_time.html -%}

  {%- if forloop.index == 1 or presentation_start_day < day_start_day or presentation_start_day == day_start_day and presentation_start_hour < day_start_hour or presentation_start_hour == day_start_hour and presentation_start_min < day_start_min-%}
    {%- assign day_start_presentation = t -%}
    {%- assign day_start_day = presentation_start_day -%}
    {%- assign day_start_hour = presentation_start_hour -%}
    {%- assign day_start_min = presentation_start_min -%}
  {%- endif -%}

  {%- assign t = r.presentations | last -%}
  {%- include partials/get_presentation_time.html -%}

  {%- if forloop.index == 1 or presentation_end_day > day_end_day or presentation_end_day == day_end_day and presentation_end_hour > day_end_hour or presentation_end_hour == day_end_hour and presentation_end_min > day_end_min-%}
    {%- assign day_end_presentation = t -%}
    {%- assign day_end_day = presentation_end_day -%}
    {%- assign day_end_hour = presentation_end_hour -%}
    {%- assign day_end_min = presentation_end_min -%}
  {%- endif -%}
{%- endfor -%}
