{%- unless site.conference.preposition == empty -%}
  {%- assign preposition = site.conference.preposition -%}
{%- else -%}
  {%- assign preposition = '-' -%}
{%- endunless -%}

{%- capture page_description -%}
  {%- if page.layout == 'presentation' -%}
    {{ site.data.conference.lang[site.conference.lang].presentation.title | default: 'Presentation' }} {{ site.data.conference.lang[site.conference.lang].pronoun.by | default: 'by'}} {% include partials/list_speakers.html text_only=true %} {{ preposition }} {{ site.conference.title }}
  {%- elsif page.layout == 'speaker' -%}
    {{ site.data.conference.lang[site.conference.lang].speaker.title | default: 'Speaker' }} {{ preposition }} {{ site.conference.title }}
  {%- elsif site.conference.description -%}
    {{ site.conference.description }}
  {%- endif -%}
{%- endcapture -%}

{%- if page_description.empty and include.default -%}
  {%- assign page_description = include.default -%}
{%- endif -%}

{%- if include.replace_quotes -%}
  {%- assign page_description = page_description | replace: '"', "'" -%}
{%- endif -%}
