{%- assign nbr_days = site.data.program.days | size -%}

<a href="
  {{- site.conference.program.url | prepend: site.conference.baseurl -}}
  {%- if nbr_days > 1 and day_hash -%}
    #{{ day_hash }}
  {%- endif -%}
" class="badge badge-light font-weight-normal text-left {{ presentation_time_styleclass }}">
  <i class="far fa-clock"></i>&nbsp;
  {%- if nbr_days > 1 and day_abbr -%}
    {%- unless presentation_day_hide -%} {{ day_abbr }}, {% endunless -%}
    {%- assign presentation_day_hide = false -%}
  {% endif -%}
  {{- presentation_start_hour -}}:{%- if presentation_start_min == 0 -%}0{%- endif -%}{{- presentation_start_min -}}
</a>

{%- assign presentation_time_styleclass = "" -%}
