{% include partials/header.html %}

  {% assign this_room = page %}

  <h1 class="display-5 mb-3">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.conference.lang[site.conference.lang].location.directions | default: "Directions" }}
    {% endif %}
  </h1>

  {% assign this_room = page %}

  {% unless site.conference.location.hide %}
    {% include partials/navbar_rooms.html %}
  {% endunless %}

  {{ content }}

  {% if site.conference.location.map %}
    <!-- <div id="map" class="mt-4 mb-3"></div> -->
    {% leaflet_map 
      {"zoom" : {{site.conference.map.zoom}},"center" : [19.922436, -155.871220], "providerBasemap": "OpenStreetMap"} %}
      {% if site.conference.location.geojson %}
        {% leaflet_geojson {{site.conference.location.geojson}} %}
      {% endif %}
    {% endleaflet_map %}
  {% endif %}

{% include partials/footer.html %}