{% include partials/header.html %}

  <!-- <h1 class="display-5 mb-4">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.conference.lang[site.conference.lang].organizer.overview | default: "Organizers" }}
    {% endif %}
  </h1> -->

  {{ content }}

  <h3>General Chairs</h3>
  {% assign cur_pos = "General Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Program Chairs</h3>
  {% assign cur_pos = "Program Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Local Chairs</h3>
  {% assign cur_pos = "Local Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Finance Chairs</h3>
  {% assign cur_pos = "Finance Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Sponsorship Chairs</h3>
  {% assign cur_pos = "Sponsorship Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Panel Chairs</h3>
  {% assign cur_pos = "Panel Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Demo/Exhibition Chairs</h3>
  {% assign cur_pos = "Demo/Exhibition Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Workshop/Tutorial Chairs</h3>
  {% assign cur_pos = "Workshop/Tutorial Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Competition Chairs</h3>
  {% assign cur_pos = "Competition Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Doctoral Consortium Chairs</h3>
  {% assign cur_pos = "Doctoral Consortium Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Publicity Chairs</h3>
  {% assign cur_pos = "Publicity Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Awards Chairs</h3>
  {% assign cur_pos = "Awards Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Publication Chairs</h3>
  {% assign cur_pos = "Publication Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

  <h3>Web Chairs</h3>
  {% assign cur_pos = "Web Chair" %}
  <div class="row">
  {% for organizer in site.organizers %}
  {% if organizer.position == cur_pos %}
    <div class="col memberbox">
      <figure>
        <img width=160 class="media-object" src="{{ organizer.image | prepend: site.conference.baseurl }}">
        <figcaption><a href="{{ organizer.links.absolute_url }}">{{ organizer.first_name }} {{organizer.last_name }}</a></figcaption>
        <figcaption>{{ organizer.affiliation }}, {{organizer.country }}</figcaption>
      </figure>
      <div class="bigspacer"></div>
      <div class="bigspacer"></div>
    </div>
  {% endif %}
  {% endfor %}
  </div>

{% include partials/footer.html %}