---
layout: default
---

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-link fa-fw"></i>
				<a class="off" href="submission">Paper Submission</a>
			</div>
		</div>
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-link fa-fw"></i>
				<a class="off" href="demo-exhibition">Demos and Exhibition</a>
			</div>
		</div>
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-link fa-fw"></i>
				<a class="off" href="doctoral-consortium">Doctoral Consortium</a>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>
	</div>
	<div class="col-md-1"></div>
</div>